@{
    Layout = null;
}
@model Cruceros.MVC.Web.Models.LoginModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/form-style.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<body>
    <div class="container">
        <div class="row form-row">
            <div class="col form-col">
                <h3 class="form-tittle">INICIA SESION</h3>
                <form asp-action="SignIn" class="style-form">
                    <div class="mb-3 form-input">
                        <input asp-for="Email" type="email" class="form-control" id="email" placeholder="INGRESA TU MAIL:">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-input">
                        <input asp-for="Password" type="password" class="form-control" id="password" placeholder="INGRESA TU CONTRASEÑA:">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary form-btn-submit">LISTO</button>
                </form>
                <h5 class="form-footer">¿Todavía no tienes una cuenta? <a href="User/SignUp">Registrate</a></h5>
            </div>
        </div>
    </div>
</body>

</html>
