@{
    <head>
        <link rel="stylesheet" href="~/css/confirmacion-reserva.css" asp-append-version="true" />
    </head>
}

<div class="container">
    <div class="row row-confirmed">
        <div class="col-10 col-confirmed">
            <div class="confirmed-box">
                <p class="confirmed-message">¡TU RESERVA FUE PROCESADA CON ÉXITO!</p>
                <p class="check">✔️</p>
            </div>
        </div>
    </div>
    <div class="row row-confirmed">
        <div class="col-10 col-btn-index">
            <a href="@Url.Action("Index", "Room")" class="btn btn-primary btn-naveo">IR AL INICIO</a>
        </div>
    </div>
</div>